ion-header {
    background: var(--ion-color-light);
    ion-list {
        background: var(--ion-color-primary);
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;
        ion-item {
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
            }
            ion-avatar {
                background: var(--ion-color-light);
            }
        }
    }
    .popover {
        margin: 0 8px;
        ion-searchbar {
            --border-radius: 20px;
            margin-top: -30px;
        }
    }
}

ion-content {
    --background: var(--ion-color-light);
    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--ion-color-dark);
    }
    ion-slides {
        ion-card {
            height: 30vh;
            width: 100%;
            border-radius: 10px;
            ion-card-header {
                ion-label {
                    font-weight: bold;
                    font-size: 1rem;
                    color: var(--ion-color-dark);
                }
                p {
                    font-weight: bold;
                    font-size: 1rem;
                    color: var(--ion-color-tertiary);
                }
            }
            ion-card-content {
                height: 20vh;
            }
        }
        .bgCard {
            // background-image: url('../../../assets/imgs/itemBg.png');
            // background-position: fixed;
            // background-repeat: no-repeat;
            // background-size: contain;
            background-color: #eec0c6;
            background-image: linear-gradient(315deg, #eec0c6 0%, #86e1f1 74%);
        }
        .featured {
            height: 40vh;
            ion-card-header {
                padding: 0;
                background-color: #bdd4e7;
                background-image: linear-gradient(315deg, #bdd4e7 0%, #ac6fac 74%);
            }
            img {
                height: 30vh;
            }
        }
        .price {
            margin-right: -12px;
            margin-bottom: -12px;
            padding: 0;
        }
    }
}